.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(./../../../public/img/template.svg);
  background-size: 100px;
  place-content: center;
  gap: 1rem;
  padding: 2rem 0;
  color: #fff;
}

.HeadText {
  place-self: center;
  margin: 0;
  font-size: larger;
}

.CardsParent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  place-self: center;
}

.UpperLine {
  margin-right: 40vw;
  place-self: end;
  display: flex;
  gap: 3rem;
}

.UpperLineTextBox {
  display: grid;
  width: 20vw;
}

.UpperLineTitle {
  place-self: center;
}

.BackButton {
  cursor: pointer;
  /* padding: 0 1rem; */
}

@media (max-aspect-ratio:1.2/1) {
  .CardsParent {
    grid-template-columns: 1fr 1fr;
  }

  .GlassCard {
    width: 25vw;
  }
}

@media (max-aspect-ratio:1/1.1) {
  .CardsParent {
    grid-template-columns: 1fr;
  }

  .GlassCard {
    width: 70vw;
  }
}

.NotFound {
  place-self: center;
  font-size: small;
}