.wrapper {
  width: 100%;
  fill: #f5eedf; /* top dark bar */
  overflow: hidden;
}

.svg {
  width: 100%;
  height: 120px;
  display: block;
  margin-bottom: -20px;
}

.top {
  background-color: f5eedf; /* bottom background color */
}

.bottom {
  fill: url(#patternFill);
}


.ContactUsParent {
  width: 100%;
  background-image: url(./../../../public/img/template.svg);
  background-size: 100px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #fff;
  gap: 1rem;
}

.ContactUs {
  display: flex;
  place-content: start;
  gap: 1rem;
}

.HeadText {
  font-size: small;
}

.TitleBox {
  padding: 2rem;
}

.ConnectionIcons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: .5rem;
}

.ConnectionButton {
  height: 2rem;
  width: 2rem;
  border-radius: 1000px;
  border: #fff 1px solid;
  padding: .3rem;
}

.Pr1 {
  font-size: 1.5rem;
  place-self: center;
  margin: 0;
  font-family: Round;
}

.Name {
  display: flex;
  flex-direction: column;
  width: fit-content;
  /* place-self: center; */
}

.Logo {
  place-self: end;
  margin-bottom: -0.8rem;
  padding: 0 0.5rem;
}

@media (max-aspect-ratio: 1/1.1) {
  .bottom {
    d: path(
      "M0 60 L200 60 L250 80 L750 80 L800 60 L1000 60 L1000 100 L0 100 Z"
    );
  }
}

