.Main {
  position: relative;
  width: 98dvw;
  min-height: 100dvh;
  overflow-y: scroll;
}

.Image {
  width: 90vw;
  place-self: center;
}

.Card {
  rotate: 180deg;
  align-self: left;
  margin-top: -5vh;
}

.Text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  max-width: 150vh;
  justify-self: center;
  place-items: center;
}

.Pr1 {
  font-size: 1.5rem;
  place-self: center;
  margin: 0;
  font-family: Round;
}

.Pr2 {
  font-size: 1.2rem;
  color: #c49a51;
  margin: 0;
  place-self: start;
}

.Pr3 {
  font-size: .9375rem;
}

.MenuBar {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

.Item {
  border: none;
  background-color: transparent;
  /* border-right: solid #8b1e1e 1px; */
  /* padding: 0.5rem 2rem; */
  font-size: .9375rem;
  color: #8b1e1e;
  /* display: flex; */
  /* justify-content: space-between; */
  cursor: pointer;
}

.Icon {
  place-self: center;
}

.ButtonTitle {
  margin: 0;
}

.Name {
  display: flex;
  flex-direction: column;
  width: fit-content;
  /* place-self: center; */
}

.Logo {
  place-self: end;
  margin-bottom: -0.8rem;
  padding: 0 0.5rem;
}

.ImageParent {
  height: 60vh;
}

.wrapper {
  width: 100%;
  fill: #f5eedf; /* top dark bar */
  overflow: hidden;
}

.svg {
  width: 100%;
  height: 120px;
  display: block;
  margin-bottom: -20px;
}

.top {
  background-color: f5eedf; /* bottom background color */
}

.bottom {
  fill: url(#patternFill);
}

.wrapperE {
  width: 100%;
  background-color: #f5eedf;
  overflow: hidden;
}

.svgE {
  width: 100%;
  height: 120px;
  display: block;
  margin-top: -60px;
}

.topE {
  fill: url(#patternFill);
}

.bottomE {
  fill: #f5eedf;
}

.ContactUsParent {
  width: 100%;
  background-image: url(./../public/img/template.svg);
  background-size: 100px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #fff;
  gap: 1rem;
}

.ContactUs {
  display: flex;
  place-content: start;
  gap: 1rem;
}

.HeadText {
  font-size: small;
}

.TitleBox {
  padding: 2rem;
}

.ConnectionIcons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: .5rem;
}

.ConnectionButton {
  height: 2rem;
  width: 2rem;
  border-radius: 1000px;
  border: #fff 1px solid;
  padding: .3rem;
}

@media (max-aspect-ratio: 1/1.1) {
  .Image {
    display: none;
  }

  .bottom {
    d: path(
      "M0 60 L200 60 L250 80 L750 80 L800 60 L1000 60 L1000 100 L0 100 Z"
    );
  }

  .topE {
    d: path(
      "M1000 100 L800 100 L750 80 L250 80 L200 100 L0 100 L0 60 L1000 60 Z"
    )
  }
}
